### 리스트& 튜플
- 복수개의 값을 담을 수 있는 데이터 구조
- 실생활에서 사용하는 리스트(학생 리스트, 성적 리스트 등등)과 동일한 의미로 이해
- list - mutable(생성된 후에 변경 가능)
- tuple - immutable(생성된 후에 변경 불가능)

#### 리스트 초기화
- []안에 값을 담아서 생성
- list() 함수로 생성
- str.split()함수로 생성

In [1]:
a = []
print(a)

[]

In [3]:
a = [1,2,3,5,10]
print(a)

[1, 2, 3, 5, 10]

In [5]:
a = ['korea', 'canada', 1,23, [34,56]]
print(a)

['korea', 'canada', 1, 23, [34, 56]]

- **list() 함수**
 - 다른 데이터 타입을 리스트로 변환할 때도 사용

In [7]:
a = 'hello world'
b = list(a)
print(b)

c = (1,2,3)
d = list(c)
print(d)

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']
[1, 2, 3]

- **string split 함수**
 - 구분자로 구분되는 리스트를 반환(빈번히 사용 됨)

In [19]:
a = 'hello world nice weather'
b = a.split()
print(b)

['hello', 'world', 'nice', 'weather']

#### 리스트 indexing
- 문자열의 인덱싱과 동일하게 동작
- [] 연산자를 이용하여 항목 얻어오기
- [i] - i번째 원소를 반환
- i가 음수인 경우도 가능하며 마지막 원소가 -1로 하여 앞으로 갈때마다 1씩 감소함

In [24]:
a = [1,2,3,4,5,6]
print(a[2])
print(a[5])
print(a[-1])

3
6
6

#### 리스트 개별 아이템에 접근
- 인덱스에 접근하여 값을 업데이트 가능

In [30]:
# 불변(immutable) -> 문자열, tuple
a = 'hello world'
print(a[0])

b = 'jello world'
c = 'j' + a[1:]

print(a.replace('h','j'))#문자열 자체가 바뀌는 것이 아님

print(b,c)
print(a)

h
jello world
jello world jello world
hello world

In [33]:
a = [1,2,3,4,5]
a[0] = 100
a[-1] = 90

print(a)

[100, 2, 3, 4, 90]

#### 리스트 slicing
- 문자열 슬라이싱과 동일하게 동작
- 슬라이싱의 결과 역시 list!

In [43]:
a = [1,2,3,4,5,6,7,8]
print(a[4:7])
print(a[:7])
print(a[3:])
print(a[:])

#slicing
#start:end:increment

a[1:7:2]

[5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]
[4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8]

[2, 4, 6]

### list 멤버 함수
- 생성된 리스트 객체에 동작하는 함수
- 향후, 클래스와 멤버 함수 개념을 이해할 예정

- **append()**
 - 리스트의 끝에 항목을 추가함

In [44]:
a = [1,2,3,4,5]
a.append(10)

print(a)

[1, 2, 3, 4, 5, 10]

- **extend()
 - 리스트를 연장
 - +=로도 가능함

In [53]:
a = [1,2,3,4,5]
b = [6,7,8,9,10]
#[1,2,3,4,5,6,7,8,9,10]
a.append(b)
print(a)
print(a[5])

a = [1,2,3,4,5]
b = [6,7,8,9,10]

a.extend(b)
print(a)

a = [1,2,3,4,5]
b = [6,7,8,9,10]

a += b
print(a)

[1, 2, 3, 4, 5, [6, 7, 8, 9, 10]]
[6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

- **insert()로 항목 추가**
 - 리스트의 원하는 위치에 추가 가능
 - 앞에 인덱스를, 뒤에 아이템을 명시

In [54]:
a = [1,3,4,5,6]
a.insert(1,40)

print(a)

[1, 40, 3, 4, 5, 6]

- **remove()**
 - 값으로 항목 삭제

In [59]:
a = [1,2,3,3,4,5]
a.remove(3)

print(a)

[1, 2, 3, 4, 5]

- **pop()**
 - 지우고자 하는 아이템을 반환 후, 삭제

In [62]:
a = [1,2,3,4,5]
d = a.pop(2)

print(a)
print(d)

[1, 2, 4, 5]
3

- **index()**
 - 찾고자 하는 값의 인덱스 변환

In [63]:
a = [2,6,7,9,10]
a.index(9)

3

- **in 키워드**
 - 리스트 내에 해당 값이 존재하는지 확인
 - value in[list]
 - True, False중 한가지로 반환

In [66]:
a = [1,2,3,4,5,10]
b = 10

c = b in a

print(c)

True

- **list 정렬**
 - sort() -> 리스트 자체를 내부적으로 정렬
 - sorted() -> 리스트의 정렬된 복사본을 반환

In [71]:
a=[9,10,7,19,1,2,20,21,7,8]

b = sorted(a)
print(a)
print(b)

a.sort(reverse = True)
print(a)
a.sort()
print(a)

[9, 10, 7, 19, 1, 2, 20, 21, 7, 8]
[1, 2, 7, 7, 8, 9, 10, 19, 20, 21]
[21, 20, 19, 10, 9, 8, 7, 7, 2, 1]
[1, 2, 7, 7, 8, 9, 10, 19, 20, 21]

### tuple
- 리스트와 같이 복수개의 값을 갖는 컬렉션 타입
- 생성된 후 변경이 불가능

In [74]:
a = [1,2,3]
b = (1,2,3)

print(type(a))
print(type(b))

a[0] = 100
print(a)

b[0] = 100
print(b)

<class 'list'>
<class 'tuple'>
[100, 2, 3]

TypeError: 'tuple' object does not support item assignment

#### tuple unpacking
- 튜플의 값을 차례대로 변수에 대입

In [78]:
a,b, c, d =100,200,300,400
print(a,b,c,d)

100 200 300 400

- **연습문제** a와 b의 값을 교환하시오

In [82]:
a=5
b=4
print(a,b)

#logic
temp=a
a=b
b=temp

print(a,b)

5 4
4 5

In [85]:
a = 5
b = 4

a,b=b,a #tuple 이용
print(a,b)

4 5

### dictionary
- 키와 값을 갖는 데이터 구조
- 키는 내부적으로 hash값으로 저장
- 순서를 따지지 않음. 즉, 인덱스가 없음

In [94]:
a = {'Korea':'Seoul', 
     'Canada' : 'Ottawa',
     'USA':'Washington D.C'}

print(a)

b = {0:1, 1:6, 7:9, 8:10}
print(b[7])

print(a['Korea'])

{'Korea': 'Seoul', 'Canada': 'Ottawa', 'USA': 'Washington D.C'}
9
Seoul

- **항목 추가 및 변경**
 - 기존에 키가 존재 하면, 새로운 값으로 업데이트
 - 존재하지 않으면 새로운 키, 값 생성

In [100]:
a = {'Korea':'Seoul', 
     'Canada' : 'Ottawa',
     'USA':'Washington D.C'}
a['Japan'] ='Tokyo'
a['China'] ='Beijing'
a['Japan'] ='Kyoto' #key 중복이 안됨
a['Japan2'] ='Kyoto' #value는 중복 가능
print(a)

{'Korea': 'Seoul', 'Canada': 'Ottawa', 'USA': 'Washington D.C', 'Japan': 'Kyoto', 'China': 'Beijing', 'Japan2': 'Kyoto'}

- **update()**
 - 두 딕셔너리를 병합함
 - 겹치는 키가 있다면 parameter로 전달되는 키 값이 overwrite된다.

In [99]:
a={'a':1, 'b':2, 'c':3}
b={'a':2, 'd':4, 'e':5}

a.update(b)

print(a)

{'a': 2, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

- **key 삭제**
 - del 키워드 사용
 - pop 함수 이용

In [101]:
a={'a':1, 'b':2, 'c':3}
print(a)

a.pop('b')
print(a)

del a['a']
print(a)

{'a': 1, 'b': 2, 'c': 3}
{'a': 1, 'c': 3}
{'c': 3}

In [102]:
c=100
del c
print(c)

NameError: name 'c' is not defined

- **clear()**
 - 딕셔너리의 모든 값을 초기화

In [104]:
a={'a':1, 'b':2, 'c':3}
print(a)
a.clear()
print(a)

{'a': 1, 'b': 2, 'c': 3}
{}

- **in**
 - key값 존재 확인
 - O(1) 연산 - 딕셔너리의 크기와 관계없이 항상 연산의 속도가 일정하다는 의미

In [110]:
a = {'a':1, 'b':2, 'c':3}
b = [1,2,3,4,5,6,7,9,10,100]

print(100 in b)#리스트의 값이 늘어날수록 성능저하
print('b' in a)#dic의 원소 개수에 상관 없이 바로 결과를 가져옴
print(2 in a)#value값과는 상관 없음

True
True
False

- **value access**
 - dict[key]로 접근, 키가 없는 경우 에러 발생
 - .get() 함수로 접근, 키가 없는 경우 None 반환

In [114]:
print(a.get('d'))

None

In [115]:
print(a['d'])

KeyError: 'd'

In [116]:
if 'd' in a:
    print(a['d'])

#### 모든 keys, values 접근
- keys() - 키만 변환
- values() - 값만 반환
- items() - 키, 값의 튜플을 반환

In [123]:
print(a)

print(a.keys())
print(a.values())
print(a.items())

print(list(a.keys()))
print(list(a.values()))
print(list(a.items()))

{'a': 1, 'b': 2, 'c': 3}
dict_keys(['a', 'b', 'c'])
dict_values([1, 2, 3])
dict_items([('a', 1), ('b', 2), ('c', 3)])
['a', 'b', 'c']
[1, 2, 3]
[('a', 1), ('b', 2), ('c', 3)]

### Set
- dictionary에서 key만 활용하는 데이터 구조로 이해
- 수학에서의 집합과 동일한 개념->중복x, 순서x

In [126]:
a = {1,1,2,3,3,4,1,5}
print(a)
#순서가 없으니 인덱싱 x

{1, 2, 3, 4, 5}

- **set()으로 집합으로 변환**

In [130]:
a = set()
print(type(a))

a=[1,1,2,3,3,4,1,5]
print(a)

b = set(a)
print(b) #중복없는 집합으로 표현

<class 'set'>
[1, 1, 2, 3, 3, 4, 1, 5]
{1, 2, 3, 4, 5}

- **set operations**
 - 수학 연산과 동일
 - 교집합, 합집합, 차집합 등 지원

In [134]:
a = {1,2,3}
b = {2,3,4}

print(a.union(b)) #합집합
print(a.intersection(b)) #교집합
print(a.difference(b)) #차집합
print(a.issubset(b)) #부분 집합

{1, 2, 3, 4}
{2, 3}
{1}
False